@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root{
  --light-violet: rgba(103, 58, 183, 0.15);
  --dark-violet: rgba(103, 58, 183, 0.85);
  --simple-violet: rgba(103, 58, 183, 0.5);
  --violet: #673AB7;
  --super-dark-violet: rgba(31, 0, 87, 0.6);
}

input::file-selector-button{
  display: none;
}